.menuItem {
  box-shadow: var(--box-shadow);
  border-radius: 10px;
}

.descriptionContainer{
  padding: 5px;
}

.descriptionContainer h3{
  font-size: 11px;
  font-weight: 600;
  color: var(--text-primary);
}

.descriptionContainer h2{
  font-size: 12px;
  font-weight: 700;
  color: var(--text-primary);
}

.descriptionContainer p{
  font-size: 9px;
  color: var(--text-secondary);
}

.menuItem img {
  width: 100%;
  border-radius: 10px;
  background-color: transparent;
}

.menuItem button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #f85625;
  bottom: 5px;
  right: 5px;
  box-shadow: var(--box-shadow);
}
