.menuItem {
  box-shadow: var(--box-shadow);
  border-radius: 10px;
}

.descriptionContainer{
  padding: 5px;
}

.menuItem img {
  border-radius: 10px;
  background-color: transparent;
}

.menuItem button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #f85625;
  bottom: 5px;
  right: 5px;
  /* CSS for shadow effect */
  box-shadow: var(--box-shadow);
}
