.callBtnContainer {
  position: fixed;
  bottom: 10px;
  left: 50%;
  width: 80%;
  transform: translateX(-50%);
  z-index: 9999;
}

.callBtn {
  width: 100%;
  padding: 13px 28px;
  background-color: #ff5722;
  color: #fff;
  border: none;
  border-radius: 20px;
  box-shadow: var(--box-shadow);
  cursor: pointer;
  font-size: 16px;
}

.callBtn:hover {
  background-color: #e64a19;
}
