.callBtnContainer {
  position: relative;
}

.callBtn {
  position: fixed;
  bottom: 10px;
  width: 80%;
  padding: 15px 30px;
  background-color: #ff5722;
  color: #fff;
  border: none;
  border-radius: 20px;
  box-shadow: var(--box-shadow);
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.callBtn:hover {
  background-color: #e64a19;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
}

.callBtn:active {
  background-color: #d84315;
}

.message {
  position: fixed;
  bottom: 12%;
  margin-top: 10px;
  padding: 10px;
  background-color: #868e96;
  color: #fff;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 700;
}