.percentageContainer {
  background-color: #f4f6f7;
  border-top-right-radius: 20px;
  padding: 13px 5px;
}

.titlePhoto button {
  border: none;
  border-radius: 12px;
  padding: 8px 60px;
}

.importButtonContainer {
  padding: 25px 8px;
  justify-content: center;
  align-items: center;
}

.importButtonContainer button {
  border: 1px #f85625 solid;
  border-radius: 12px;
  background-color: transparent;
  padding: 8px 48px;
}

.stopList {
  padding: 15px 0;
}

.addCategoriesContainer{
  padding: 25px 5px;
}

.addCategoriesContainer > div > p::after{
  content: " ";
  height: 3px;
  width: 3px;
  color: #999C9E;
  margin: 0 5px;
}

.addCategoriesContainer button{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px;
  border: none;
  border-radius: 12px;
}

/* .categoriesSection > div{
  padding: 25px 0;
  background-color: #F4F6F7;
  border-radius: 12px;
}

.categoriesSection > div > p{
  margin-left: 15px;
} */