.categoriesSection {
  margin-top: 30px;
  margin-bottom: 30px;
}

.categoriesTitle h2 {
  font-size: 16px;
  font-weight: 600;
  color: var(--text-primary);
}

.categoriesTitle {
  font-size: 14px;
  font-weight: 600;
  color: var(--text-secondary);
}

.categoryItem {
  display: inline-block;
  position: relative;
  height: 50px;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
}

.categoriesContainer p {
  font-size: 9px;
  color: var(--text-secondary);
}

.categories {
  display: flex;
  gap: 16px;
  padding: 10px 5px;
}

.categoriesContainer {
  width: 50px;
}

.scrollableContainer {
  overflow-x: scroll;
  display: flex;
  width: 100%;
  text-align: center;
}
