:root {
  --background: #fff;
  --text-primary: #38374a;
  --text-secondary: #b6b6b6;
  --box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.15);

}

[data-theme="dark"] {
  --background: #1e1e1e;
  --text-primary: #eaeaea;
  --text-secondary: #8a8a8a;
  --box-shadow: 0px 3px 10px 0px rgba(255, 255, 255, 0.1);

}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: var(--background);
  color: var(--text-primary);
  transition: all .5s ease-in-out;
}

p {
  margin: 0;
  padding: 0;
}
